@model Team
@{
    Layout = "_AdminLayout";
}

<h2 class="header-title">🐾 Yeni Komanda Üzvü</h2>

<div class="card card-cici p-4 shadow-sm border-0">
    <form asp-action="Create" method="post" enctype="multipart/form-data">
        <div class="form-group mb-3">
            <label>Ad və Soyad</label>
            <input asp-for="FullName" class="form-control" style="border-radius:15px;" />
        </div>

        <div class="form-group mb-3">
            <label>Vəzifə</label>
            <input asp-for="Position" class="form-control" style="border-radius:15px;" />
        </div>

        <div class="form-group mb-4">
            <label>Şəkil Seç</label>
            <input asp-for="ImageFile" type="file" class="form-control" style="border-radius:15px;" />
        </div>

        <button type="submit" class="btn btn-success btn-cici">Əlavə Et</button>
    </form>
</div>