@{
    Layout = "_AdminLayout";
}

<h2 class="header-title mb-4">Xoş Gəldin, Heyvansevər Admin! 🐾</h2>

<div class="row">
    <div class="col-md-4 mb-4">
        <div class="card card-cici bg-white p-3">
            <div class="d-flex align-items-center">
                <div class="icon-box bg-warning p-3 rounded-circle text-white mr-3">
                    <i class="fas fa-concierge-bell fa-2x"></i>
                </div>
                <div>
                    <h5 class="mb-0">Xidmətlər</h5>
                    <p class="text-muted mb-0">3 Aktiv Xidmət</p>
                </div>
            </div>
            <a href="/Admin/Service" class="btn btn-warning btn-cici text-white mt-3">İdarə Et</a>
        </div>
    </div>

    <div class="col-md-4 mb-4">
        <div class="card card-cici bg-white p-3">
            <div class="d-flex align-items-center">
                <div class="icon-box bg-success p-3 rounded-circle text-white mr-3">
                    <i class="fas fa-dog fa-2x"></i>
                </div>
                <div>
                    <h5 class="mb-0">Heyvanlar</h5>
                    <p class="text-muted mb-0">452 Dostumuz</p>
                </div>
            </div>
            <a href="/Admin/Pet" class="btn btn-success btn-cici mt-3">Siyahıya Bax</a>
        </div>
    </div>

    <div class="col-md-4 mb-4">
        <div class="card card-cici bg-white p-3">
            <div class="d-flex align-items-center">
                <div class="icon-box bg-info p-3 rounded-circle text-white mr-3">
                    <i class="fas fa-users fa-2x"></i>
                </div>
                <div>
                    <h5 class="mb-0">Komanda</h5>
                    <p class="text-muted mb-0">3 Peşəkar</p>
                </div>
            </div>
            <a href="/Admin/Team" class="btn btn-info btn-cici text-white mt-3">Üzvləri Gör</a>
        </div>
    </div>
</div>

<div class="mt-5 p-5 card-cici bg-light text-center">
    <img src="~/img/banner/dog.png" style="max-width: 200px;" alt="sweet dog">
    <h4 class="mt-3 text-secondary">Bu gün bir neçə heyvanı sevindirməyə hazırsan?</h4>
</div>